<footer class="rounded-lg shadow m-4bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10 ">
    <div class="w-full h-auto max-w-screen-xl p-4 flex items-center justify-center">
      <span class="text-sm text-yellow-200/80 sm:text-center dark:text-yellow-200/80">© 2024 Wyso. Casi todos los derechos reservados.
    </span>
    </div>
</footer>
