<header class="flex justify-between items-center py-5 w-full xl:w-[1120px]">
  <span></span>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top" class="nav-link">Inicio</a>
    <a href="#about" class="nav-link">Sobre mí</a>
    <a href="#projects" class="nav-link">Mis proyectos</a>
    <a href="#contact" class="nav-link">Contacto</a>
  </nav>
</header>
